---
layout: splash
permalink: /bioinformatics/
feature_row1:
  - image_path: terminal_pic.png
    title: "Python code and Bash commands"
    excerpt: "Examples of Python code and Bash commands I use for teaching"
    url: "https://chris-owen.github.io/code-examples/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: software_pic.png
    title: "Software"
    excerpt: "A list of mostly open source software I commonly use"
    url: "https://chris-owen.github.io/software/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---
<!--{% include base_path %}
-->
{% include feature_row id="feature_row1" %}

<!--{% include feature_row id="feature_row2" %}
-->