---
layout: splash
header:
  image: header_image2.jpg
  caption: "Photo credit: Dave Marshall & Kathy Hill"
author_profile: true
intro:
  - excerpt: 'Testing intro excerpt'
feature_row1:
  - image_path: cicada_taxonomy_gallery_pic.jpg
    title: "Revisionary cicada taxonomy and advancing the science of taxonomy"
    excerpt: "Blurb about research"
    url: "_pages/taxonomy.md"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: test_gallery_pic2.jpg
    title: "Cicada phylogeny and phylogenomics"
    excerpt: "Blurb about research"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: comparative_genomics_gallery_pic.jpg
    title: "Arthropod comparative genomics"
    excerpt: "Blurb about research"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
feature_row2:
  - image_path: test_gallery_pic2.jpg
    title: "Building the Hemiptera Tree of Life"
    excerpt: "Blurb about research"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: test_gallery_pic2.jpg
    title: "Genome evolution in Peracarida"
    excerpt: "Blurb about research"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: test_gallery_pic2.jpg
    title: "HIV-1 evolution"
    excerpt: "Blurb about research"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---
<!--{% include base_path %}
-->
{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row1" %}

{% include feature_row id="feature_row2" %}
<!--{% include feature_row id="feature_row1" type="center" %}
-->
<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %} -->
