---
layout: splash
header:
  image: header_image2.jpg
  caption: "Photo credit: Dave Marshall & Kathy Hill"
author_profile: true
intro:
  - excerpt: 'Testing intro excerpt'
feature_row:
  - image_path: test_gallery_pic2.jpg
    title: "Revisionary taxonomy"
    excerpt: "Blurb about research"
  - image_path: test_gallery_pic2.jpg
    title: "Cicada phylogenetics and phylogenomics"
    excerpt: "Blurb about research"
  - image_path: test_gallery_pic2.jpg
    title: "Hemiptera genomics"
    excerpt: "Blurb about research"

---
<!--{% include base_path %}
-->
{% include feature_row id="intro" type="center" %}

{% include feature_row %}
<!--{% include feature_row id="feature_row1" type="center" %}
-->
<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %} -->
